/* General styles */

*,
*::before,
*::after {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    padding: 1.2rem;
    background-image: linear-gradient(120deg, #ff952b, #ffff0e);
    color: white;
    min-height: 100vh;
}