/* General styles */

*,
*::before,
*::after {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    padding: 1.2rem;
    background-image: linear-gradient(120deg, #ff952b, #ffff0e);
    color: white;
    min-height: 100vh;
}


/* Styles for the header specifically */

.header h1 {
    font-size: 2rem;
    margin-bottom: 5px;
    text-align: center;
}

.header p {
    text-align: center;
}

.header {
    margin-bottom: 15px;
}


/* Styles for the form specifically */

.form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input,
.form-submit {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: white;
}

.form-input-label {
    background-color: #ff952b;
    padding: 0.3rem;
    padding-left: 5px;
}

.form-submit {
    background: #ff952b;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}

.form-submit:hover {
    background-color: #2bff4e;
}