.form {
    margin-bottom: 30px;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input,
.form-submit {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: white;
}

.form-input-label {
    background-color: #ff952b;
    padding: 0.3rem;
    padding-left: 5px;
}

.form-submit {
    background: #ff952b;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}

.form-submit:hover {
    color: #ff952b;
    background: white;
}